{{define "nav-main"}}
    <header>
        <a class="logo" href="/">Home</a>
        <a class="button" href="/achievements">Achievements</a>
        <a class="button" href="/cases">Notable Cases</a>
        <a class="button" href="/about">About</a>
    </header>
{{end}}